{{ define "main" }}
  <div class="mt-8 mb-8">
    <div
      class="mb-4 h-10 w-10 rounded-lg overflow-hidden animate-in zoom-in-0 zoom-out-100 spin-in-45 duration-500">
      <div
        class="h-10 w-10 bg-gradient-pride-full animate-gradient-river bg-[length:500%_500%] hover:duration-1000"></div>
    </div>

    <h1 class="text-slate-900 font-medium">{{ site.Params.author }}</h1>
    <h2 class="text-slate-600 font-medium">{{ site.Params.authorTitle }}</h2>
  </div>

  <div
    class="prose prose-lead-mb-0 prose-a:text-slate-900 visited:prose-a:text-slate-900">
    {{ with $.Site.GetPage "page" "about" }}
      {{ .Content }}
    {{ end }}
  </div>

  {{ if .Site.Menus.socials }}
    <div class="my-16">
      <h3 class="mb-2 text-slate-900 font-medium">On the web</h3>

      <ul class="flex space-x-4">
        {{- range .Site.Menus.socials }}
          <li>
            <a href="{{ .URL }}" class="underline"> {{ .Name }} </a>
          </li>
        {{- end }}
      </ul>
    </div>
  {{ end }}
  {{- $numberOfPostsInHomePage := site.Params.numberOfPostsInHomePage }}
  {{- if ne $numberOfPostsInHomePage 0 }}
    <div class="my-24">
      <h3 class="mb-4 text-slate-900 font-medium">Latest Posts</h3>

      {{- $posts := .Site.RegularPages.ByDate.Reverse }}
      {{- if gt
        $numberOfPostsInHomePage 0
      }}
        {{ $posts = first $numberOfPostsInHomePage
          $posts
        }}
      {{ end }}


      <ul class="text-slate-800 space-y-2">
        {{ range $posts }}
          <li class="flex">
            <span
              class="shrink-0 grow-0 inline-block w-20 text-gray-500 tabular-nums">
              {{ .Date.Format "02/2006" }}
            </span>
            <a href="{{ .RelPermalink }}" class="underline hover:no-underline">
              {{ .LinkTitle }}
            </a>
          </li>
        {{ end }}
      </ul>
    </div>
  {{ end }}
{{ end }}
